train_data/
clean-folders-ai/
runs/
data_predict/
__pycache__/
test_data/
output/
WhatsApp Images/
data_predict_aux/
Notes.md
build/
dist/
app.spec
output_aux/
combined_whatsapp/
classify_and_organize_images.py